<div class="w-[100%] h-[30vh] flex flex-row justify-between items-center bg-black py-5 px-20">
    
    <div class="w-[30%] h-[100%] flex flex-col justify-between ">
        <h2 class="text-white">Get In Touch</h2>
        <div class="w-[100%] h-[100%] flex flex-col pt-2 ">

            <div class="w-[55%] h-[28%] flex flex-row justify-between items-center">
                <i class="fa-solid fa-envelope text-white text-xl"></i>
                <span class="text-white">AngularComp&#64;gmail.com</span>
            </div>

            <div class="w-[55%] h-[28%] flex flex-row justify-between items-center">
                <i class="fa-solid fa-envelope text-white text-xl"></i>
                <span class="text-white">AngularComp&#64;gmail.com</span>
            </div>

        </div>
    </div>

    <div class="w-[40%] h-[100%] flex justify-between items-center">
        <button type="button" class="w-[60%] uppercase text-white bg-black hover:bg-white hover:text-black border-1 font-medium rounded-md text-sm px-5 py-4 me-2 mb-2">Download Resume</button>
    </div>

    <div class="w-[30%] h-[100%] flex flex-col">
        <div class="w-[100%] h-[20%] flex flex-row pt-8 gap-4 justify-end ">
            <i class="fa-solid fa-envelope text-white text-xl"></i>
            <i class="fa-solid fa-envelope text-white text-xl"></i>
            <i class="fa-solid fa-envelope text-white text-xl"></i>
        </div>

        <div class="w-[100%] h-[20%] flex flex-row pt-8 gap-2 justify-end ">
            <span class="text-white">AngularComp&#64;gmail.com</span>
        </div>
    </div>

</div>
