<div style="background-image: url('https://img.freepik.com/free-photo/portrait-young-handsome-man_23-2148884368.jpg?t=st=1741351096~exp=1741354696~hmac=6e7fd649822ac7652956705a1a1d20d87c2f68a027f6031b31468f79f0c076c5&w=1480');" class="relativ bg-cover h-[100vh] w-[100]">
    <div class="absolute top-40 left-64 flex flex-col justify-between items-center w-[35%] h-[25vh]">
        <h3 class="text-white text-4xl font-bold">Eng John Doe </h3>
        <span class="text-white text-2xl">Web Delevoper & Designer</span>
        <button type="button" class="uppercase text-white bg-black hover:bg-white hover:text-black border-1 font-medium rounded-md text-sm px-5 py-2.5 me-2 mb-2">Contact Me</button>
    </div>
</div>