<div class="h-[100vh] w-[100%] flex flex-col justify-between items-center bg-[#3d3d3d]">
    <div class="w-[80%] h-[20vh] flex flex-col justify-between items-center">
        <h3 class="text-white text-4xl font-semibold mt-10" style=" text-shadow: 2px 1px 3px rgba(238, 238, 238, 0.2);">Skills</h3>
        <p class="text-[#a7a7a7] text-center text-sm font-bold mt-10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error sapiente pariatur eos voluptatem asperiores, laborum alias ratione cumque facere reiciendis dolorum blanditiis doloremque? Aliquid, cupiditate consequatur commodi aliquam voluptas obcaecati Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error sapiente pariatur eos voluptatem asperiores, laborum alias ratione cumque facere reiciendis dolorum blanditiis doloremque? Aliquid, cupiditate consequatur commodi aliquam voluptas obcaecati.</p>
    </div>

    <div class="w-[80%] h-[80vh] flex flex-row items-center justify-center gap-30 ">
        <ul class="list-none flex flex-col h-[50vh] gap-1 justify-center">
            <li class="text-white border-b-2 border-white px-4 py-2 font-bold text-center">My Focus</li>
            <li class="text-white px-4 py-2 font-bold ">Ui/UX Design</li>
            <li class="text-white px-4 py-2 font-bold ">Responsive Design</li>
            <li class="text-white px-4 py-2 font-bold ">Web Design</li>
            <li class="text-white px-4 py-2 font-bold ">Mobile App Design</li>
        </ul>

        <ul class="list-none flex flex-col h-[50vh] w-[50%] gap-2 justify-center">
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> HTML </span>
                <span class="bg-[#dfdeda] h-full w-[75%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-[100%] w-[20%] text-center"> CSS </span>
                <span class="bg-[#dfdeda] h-full w-[75%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> JavaScript </span>
                <span class="bg-[#dfdeda] h-full w-[50%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> React </span>
                <span class="bg-[#dfdeda] h-full w-[50%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> Photoshop </span>
                <span class="bg-[#dfdeda] h-full w-[75%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> Adobe Xd </span>
                <span class="bg-[#dfdeda] h-full w-[50%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> NodeJs </span>
                <span class="bg-[#dfdeda] h-full w-[40%]"></span>
                <span></span>
            </li>
            <li class="bg-white text-white font-bold flex flex-row w-[100%] h-[4vh]">
                <span class="bg-[#959188] h-full w-[20%] text-center"> Figma </span>
                <span class="bg-[#dfdeda] h-full w-[35%]"></span>
                <span></span>
            </li>
        </ul>
    </div>
</div>
