<div class="h-[100vh] w-[100%] flex flex-col justify-between items-center bg-white mb-10">
    <div class="w-[80%] h-[20vh] flex flex-col justify-between">
        <h3 class="text-black text-4xl font-semibold mt-10" style=" text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Portfolio</h3>
    </div>

    <div class="w-[80%] h-[80vh] flex flex-row flex-wrap items-center justify-center gap-4">
            <div class="text-white px-4 py-2 font-bold bg-[#3d3d3d] w-[30%] h-[38vh] flex flex-col justify-center items-center">
                <span class="px-4 py-2 font-bold w-30 text-center">My Focus</span>
                <span class="h-0.5 w-26 bg-white"></span>
            </div>
            <div class="text-white px-4 py-2 font-bold bg-[#959188] w-[30%] h-[38vh] flex flex-col justify-center items-center">
                <span class="px-4 py-2 font-bold w-35 text-center">Ui/UX Design</span>
                <span class="h-0.5 w-26 bg-white"></span>
            </div>
            <div class="text-white px-4 py-2 font-bold bg-[#3d3d3d] w-[30%] h-[38vh] flex flex-col justify-center items-center">
                <span class="px-4 py-2 font-bold w-50 text-center"> Responsive Design</span>
                <span class="h-0.5 w-35 bg-white"></span>
            </div>
            <div class="text-white px-4 py-2 font-bold bg-[#959188] w-[30%] h-[38vh] flex justify-center items-center">Web Design</div>
            <div class="text-white px-4 py-2 font-bold bg-[#3d3d3d] w-[30%] h-[38vh] flex justify-center items-center">Mobile App Design</div>
            <div class="text-white px-4 py-2 font-bold bg-[#959188] w-[30%] h-[38vh] flex justify-center items-center">Mobile App Design</div>
    </div>
</div>
